{%extends 'cop/main.html'%}

{%block content%}
{%include 'cop/status.html'%}
<div class="row">
  <div class="col-sm-5">
    <h5>CUSTOMERS:</h5>
    <hr>
      <div class="card-body">
        <a href="{%url 'cc'%}" class="btn btn-primary">create customer</a>
        <table class="table">
          <tr>
            <td></td>
            <th>customer</th>
            <th>phone</th>
          </tr>
          {%for i in c%}
          <tr>
            <td><a href="{%url 'cu' i.id%}" class="btn btn-primary">view</a></td>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>

  <div class="col-sm-7">
    <h5>LAST 5 ORDERS</h5>
    <hr>
      <div class="card card-body">
  <a href="{%url 'cof'%}" class="btn btn-primary">create orders</a>
  <table class="table">
    <tr>
      <th>product</th>
      <th>date ordered</th>
      <th>status</th>
      <th>update</th>
      <th>remove</th>
    </tr>
    {%for i in o%}
    <tr>
      <td>{{i.product}}</td>
      <td>{{i.date_created}}</td>
      <td>{{i.status}}</td>
      <td><a href="{%url 'uo' i.id%}" class="btn btn-secondary">update</a></td>
      <td><a href="{%url 'del' i.id%}" class="btn btn-warning">remove</a></td>
    </tr>
    {%endfor%}
  </table>
      </div>
    </div>
  </div>

{%endblock%}
